tool=checkstyle,error-prone,Findbugs,PMD
project=MyProject
platform=Ubuntu Linux
run-all-commits=1
package-dir=./
package-conf=./package.conf
allowed-branches=master, branch01, branch02, branch03
upload=1
assess=1
main-script=.git/hooks/SWAMP_Uploader/run.sh
new-package-dir=./
